# Banking System with Python and Sql

#### import the mysql.connector library

In [2]:
import mysql.connector as u

#### Establishing with mysql database connection

In [3]:
database = u.connect(host="localhost",user="root",password="Ub787459@",auth_plugin='mysql_native_password')
if database.is_connected():
    print("Successfully connected")
else:
    print("Not connected")

Successfully connected

#### Makeing cursor

In [4]:
cur = database.cursor()

#### Creating database  Banking_System

In [11]:
cur.execute("Create database Banking_System")

#### Create two tables Account and Amount

In [16]:
cur.execute("Use Banking_System")
cur.execute("Create table Account(Accountno varchar(15) primary key,Name varchar(30),DOB varchar(10),Address varchar(50),Phone_no varchar(10),Opening_balance int)")

In [17]:
cur.execute("Create table Amount(Accountno varchar(15) primary key,Name varchar(30), Balance int)")

#### Make functions of Bank - 
1.Open Account, 2.Deposit Amount, 3.Withdraw Amount, 4.Check balance, 5.display details of user, 6.close an account

In [7]:
def open_account():
    name = input("Enter name:")
    account_no = input("Enter account no:")
    dob = input("Enter DOB:")
    address = input("Enter address:")
    phone = input("Enter phone:")
    open_bal = int(input("Enter opening balance:"))
    data1 = (account_no,name,dob,address,phone,open_bal)
    data2 = (account_no,name,open_bal)
    sql1 = "insert into Account values(%s,%s,%s,%s,%s,%s)"
    sql2 = "insert into Amount values(%s,%s,%s)" 
    cur = database.cursor()
    cur.execute(sql1,data1)
    cur.execute(sql2,data2)
    database.commit()
    print("Data Entered successfully")
    main_fun()

def deposit_amount():
    amount = int(input("Enter amount:"))   
    an = input("Enter account no:")
    a = "select balance from Amount where Accountno=%s"
    data = (an,)
    cur = database.cursor()
    cur.execute(a,data)
    result = cur.fetchone()
    t = result[0]+amount
    sql = "update Amount set balance=%s where Accountno=%s"
    data = (t,an)
    cur.execute(sql,data)
    database.commit()
    main_fun()

def withdraw_amount():
    amount = int(input("Enter amount:"))   
    an = input("Enter account no:")
    a = "select balance from Amount where Accountno=%s"
    data = (an,)
    cur = database.cursor()
    cur.execute(a,data)
    result = cur.fetchone()
    t = result[0]-amount
    sql = "update Amount set balance=%s where Accountno=%s"
    data = (t,an)
    cur.execute(sql,data)
    database.commit()
    main_fun()
    
    
#ac = account_number 
def check_balance():
    ac = input("Enter account no:")
    a = "select balance from Amount where Accountno=%s"
    data = (ac,)
    cur = database.cursor()
    cur.execute(a,data)
    result = cur.fetchone()
    print("Balance for Account:",ac,"is",result[0])
    main_fun()



def display_user_details():
    ac = input("Enter account no:")
    a = "select * from Amount where Accountno=%s"
    data = (ac,)
    cur = database.cursor()
    cur.execute(a,data)
    result = cur.fetchone()
    for i in result:
        print(i,end=" ")  
    main_fun()


def close_account():
    ac = input("Enter account no:")
    sql1 = "delete from Account where Accountno=%s"
    sql2= "delete from Amount where Accountno=%s"
    data = (ac,)
    cur = database.cursor()
    cur.execute(sql1,data)
    cur.execute(sql2,data)
    database.commit()
    main_fun()
    
def main_fun():
    print("""
    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account
    """)
    choice = int(input("Enter Task number: "))
    if(choice==1):
        open_account()
    elif(choice==2):
        deposit_amount()
    elif(choice==3):
        withdraw_amount()
    elif(choice==4):
        check_balance()
    elif(choice==5):
        display_user_details()
    elif(choice==6):
        close_account()
    else:
        print("Give Wrong input please enter right input")
main_fun()

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 1
Enter name:Rohit
Enter account no:14268100022954
Enter DOB:05-05-2002
Enter address:Jalalabad'
Enter phone:6307737694
Enter opening balance:14000
Data Entered successfully

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 7
Give Wrong input please enter right input

#### To show all results from first table and second table

In [8]:
cur.execute("select * from Account")
for i in cur:
    print(i)

('14268100022949', 'Shubh', '18-02-2002', 'Meerut', '9411618152', 10000)
('14268100022950', 'Sauhard', '10-10-2002', 'Greater Noida', '9311407838', 11000)
('14268100022951', 'Ujjwal', '08-04-2002', 'Bareilly', '6394843373', 12000)
('14268100022952', 'Varun', '30-10-2002', 'Meerut', '9528504921', 13000)
('14268100022953', 'Visal', '24-10-2002', 'Balia', '9643946578', 14000)
('14268100022954', 'Rohit', '05-05-2002', "Jalalabad'", '6307737694', 14000)

In [9]:
cur.execute("select * from Amount")
for i in cur:
    print(i)

('14268100022949', 'Shubh', 10000)
('14268100022950', 'Sauhard', 11000)
('14268100022951', 'Ujjwal', 12000)
('14268100022952', 'Varun', 13000)
('14268100022953', 'Visal', 13000)
('14268100022954', 'Rohit', 14000)

#### Withdraw amount from any account

In [27]:
main_fun()

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 3
Enter amount:1000
Enter account no:14268100022953

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 7
Give Wrong input please enter right input

#### After withdraw result

In [10]:
cur.execute("select * from Amount")
for i in cur:
    print(i)

('14268100022949', 'Shubh', 10000)
('14268100022950', 'Sauhard', 11000)
('14268100022951', 'Ujjwal', 12000)
('14268100022952', 'Varun', 13000)
('14268100022953', 'Visal', 13000)
('14268100022954', 'Rohit', 14000)

#### Check balance

In [12]:
main_fun()

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 4
Enter account no:14268100022951
Balance for Account: 14268100022951 is 12000

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 7
Give Wrong input please enter right input

#### Display details of user

In [14]:
main_fun()

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 5
Enter account no:14268100022951
14268100022951 Ujjwal 12000
    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 7
Give Wrong input please enter right input

#### Close account

In [15]:
main_fun()

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 6
Enter account no:14268100022954

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 7
Give Wrong input please enter right input

#### show result after close account

In [17]:
cur.execute("select * from Amount")
for i in cur:
    print(i)

('14268100022949', 'Shubh', 10000)
('14268100022950', 'Sauhard', 11000)
('14268100022951', 'Ujjwal', 12000)
('14268100022952', 'Varun', 13000)
('14268100022953', 'Visal', 13000)